name: CyberMap Smoke Test

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 */3 * *'
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      CYPRESS_API_TOKEN: ${{ secrets.API_TOKEN }}
      CYPRESS_API_URL: ${{ secrets.API_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup Node
        uses: actions/setup-node@v6.2.0
        with:
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Cypress run
        uses: cypress-io/github-action@v6.5.0
        with:
          spec: cypress/e2e/CyberMap/smoke_test.cy.js
