name: CyberMap Smoke Test

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 */3 * *'
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: windows-latest
    env:
      CYPRESS_API_TOKEN: ${{ secrets.API_TOKEN }}
      CYPRESS_API_URL: ${{ secrets.API_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          spec: cypress/e2e/CyberMap/smoke_test.cy.js
